{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас - Бри - Доставка еды</title>
    <link rel="stylesheet" href="{% static "css/about.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <header>
        Бри - Доставка еды
    </header>

    <nav>
        <a href="{% url "main:catalogue" %}">Каталог</a>
        <a href="{% url "main:about" %}">О нас</a>
        <a href="{% url "main:contacts" %}">Контакты</a>
        <a href="{% url "main:cart" %}" class="cart-link">
            <i class="fas fa-shopping-cart"></i> 
        </a>
    </nav>
    <img src="{% static "photo/about-bg.jpg" %}" alt="banner" class="top-banner">
    <div class="container">


        <h2>О нас</h2>
        <p>Добро пожаловать на сервис доставки еды, который делает вашу жизнь вкуснее и удобнее! Мы создаем кулинарные шедевры, чтобы радовать вас свежими, качественными и аппетитными блюдами каждый день.</p>

        <h3>Почему выбирают нас?</h3>
        <p>Мы верим, что еда должна быть не только вкусной, но и полезной. В нашем меню – широкий выбор блюд, приготовленных из свежих и натуральных ингредиентов. Независимо от того, предпочитаете ли вы сытные мясные блюда, легкие салаты, вкусные десерты или полезное питание, у нас найдется что-то особенное для каждого.</p>

        <p>Мы стремимся к тому, чтобы процесс заказа был максимально удобным. Наш сайт позволяет быстро оформить заказ в несколько кликов. Мы сотрудничаем с лучшими курьерскими службами, чтобы ваша еда всегда прибывала горячей и вовремя.</p>

        <h3>Наша миссия</h3>
        <p>Мы создаем сервис, который позволяет людям экономить время, наслаждаясь вкусной и качественной едой. Наша цель – сделать процесс заказа еды легким и приятным, предоставляя клиентам высокий уровень сервиса и разнообразие вкусов.</p>

        <h3>Гарантия качества</h3>
        <p>Мы тщательно отбираем поставщиков, работаем только с проверенными фермами и производителями. Каждое блюдо готовится по стандартам качества и проходит строгий контроль перед отправкой клиенту.</p>

        <h3>Свяжитесь с нами</h3>
        <p>Если у вас есть вопросы, пожелания или предложения, наша команда всегда готова помочь! Вы можете связаться с нами через форму обратной связи на сайте, по телефону или в социальных сетях.</p>

        <p><strong>Заказы принимаются с 05:30 до 23:30</strong></p>
        <p><strong>Внутри МКАД — 500 ₽, бесплатно от 5 000 ₽<br>
        За МКАД — 1 000 ₽, бесплатно от 7 000 ₽</strong></p>
    </div>

    <footer>
        <p>&copy; 2025 Бри - Доставка еды</p>
    </footer>

</body>
</html>