/* Стили для страницы "Контакты" */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff6600;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}


.container {
    max-width: 600px;
    margin: 4rem auto;
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
    flex: 1;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

h2 {
    color: #ff6600;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    margin-top: auto;
}
